body {
  margin: 0px;
  background-color: rgb(252, 249, 249);
  color: black;
  font-family: "arial";
  /*#9D4F8F
    #45BDCF
    rgb(255,99,71)
    #ff6347
    rgb(0,176,254)
    #00B0FE
    */
}

* {
  box-sizing: border-box;
}

.flex, .main, .header__menu--profile, .header {
  display: flex;
  align-items: center;
}

.header {
  background-color:     rgb(255,255,255);
  height: 100px; 
  width: 100%;
  justify-content: space-between;
  top: 0px;
}

.header__img {
  width: 190px;
  margin-left: 1 0px;
}

.header__menu {
  margin-right: 30px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px -14px;
}

.header__menu:hover ul,  ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  cursor: pointer;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.header__search {
  flex-direction: column;
  border-radius: 0px 0px 40px 40px;
  width: 50%;
}

.header__search input {
  background-color: #45BDCF;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 16px;
  height: 50px;
  padding: 0px 20px;
  width: 70%;
  outline-style: none;
  margin-top: 10px;
  width: 100%;
}

::placeholder {
  color: white;
}

.header__order {
  width: 5%;
}

.header__order--img {
  width: 50px;
  height: 40px;
}
nav {
  background-color: #9D4F8F;
  margin:  auto;
  margin-top: -15px;
  padding: 0;
}

nav category:hover ul,  ul:hover {
  display: row;
}

.category {
  display: flex;
}
.category__item {
  /* background-color:·#ff6347; */
  background-color:·#45BDCF;
  list-style: none;
  flex: 1;
  /* outline: 1px solid cyan; */
  line-height: 3rem;
  text-align: center;
}
 .category__item a {
   text-decoration: none;
   color: #45BDCF;
   /* color: #00B0FE; */
 }

 .categorias {
  width: 30%;
  border: 1px;
  height: 400px;
  border-style: groove;
  display: flex;
  justify-content: center;
 }
 
 .categorias__container {
   width: 100%;
  display: flex;
  justify-content: center;
 }